---
import Layout from "../layouts/Layout.astro";
import { Hero } from "../components/index-page/hero";
import { IdentityGrid } from "../components/index-page/identity-grid";
import { ExperienceTimeline } from "../components/index-page/experience-timeline";
import { ServicesSection } from "../components/index-page/services-section";
---

<Layout>
  <Hero client:load />
  <IdentityGrid client:visible />
  <div id="experience">
    <ExperienceTimeline client:visible />
  </div>
  <!-- <ProjectsGrid client:visible /> -->
  <div id="services">
    <ServicesSection client:visible />
  </div>
</Layout>
