---
import Layout from "../layouts/Layout.astro";
import { Hero } from "../components/Hero";
import { IdentityGrid } from "../components/IdentityGrid";
import { ProjectsGrid } from "../components/ProjectsGrid";
import { ExperienceTimeline } from "../components/ExperienceTimeline";
import { ServicesSection } from "../components/ServicesSection";
---

<Layout>
  <Hero client:load />
  <IdentityGrid client:visible />
  <div id="experience">
    <ExperienceTimeline client:visible />
  </div>
  <!-- <ProjectsGrid client:visible /> -->
  <div id="services">
    <ServicesSection client:visible />
  </div>
</Layout>
